

.main-wrap {
  font-family: "Montserrat";
  background: linear-gradient(to right, #1488cc, #2b32b2);
  width: inherit;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.875rem;
  color: white;
}

.header-options {
  font-size: 1em;
  display: flex;
  justify-content: center;
  width: 20em;
  height: inherit;
}

.header-options ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-options ul > li {
  margin-right: 20px;
}

.logo-mini{
  display: none;
}

@media (max-width: 33.75em) {


.historial{
  border-collapse: collapse;
  
  height: 500px;
 
  
}
  .historial thead{
    display: none;
  }

  .historial, .historial tbody, .historial tr, .historial td{
    display: block;
    width: 100%;
  }

  .historial tr{
    margin-bottom: 15px;
  }
  .historial td{
   
    text-align: center;
   padding-left: 50%;
    position: relative;
  }

  .historial td::before{
    color: rgb(0, 0, 0);
    content: attr(data-label);
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    text-align: left;
  }

  .header-options{
    width: 80%;
    
  }

  .logo-mini{
    display: block;
  }

  .logo {
    display: none;
  }
  .search-wrap {
    height: 8.125rem;
    width: 100%;
    display: flex;
  }
  .search_btn_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .weather-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
   
  }

  .card-content-active{
    height: 100vh;
  }

}

.alert {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: 800;
}

.alert.error {
  background: #ef4f4f;
}

.alert.success {
  background: rgb(11, 156, 11);
}

.weather-card {
  display: flex;
  flex-direction: column;
  color: black;
  margin-bottom: 5vh;
  
  width: 30vh;
  height: 30vh;
  min-width: 244px;
  min-height: 244px;
  border-radius: 10px;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.096);
}

.ciudad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33.33%;
  color: #1378c5;
  font-size: 25px;
  font-family: "Roboto Slab";
  font-weight: bold;
}

.ciudad span {
  margin: 5px;
}

.clima {
  color: #707070;
  font-family: "montserrat";
  font-weight: bold;

  height: 33.33%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.degrees-wrapper {
  display: flex;
  flex-direction: column;

  width: 40%;
}

.clima .img {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;
  height: 100%;
}

.fa-sun-o {
  color: gold;
  font-size: 80px;
}

.clima .grados {
  color: #707070;
  font-size: 50px;
  font-family: "Anton";
}

.adicional {
  display: flex;
  height: 33.33%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #707070;
  font-family: "montserrat";
  font-size: 15px;
}

.sensacion span:first-child {
  font-weight: bolder;
}
.humedad span:first-child {
  font-weight: bolder;
}

.search-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_btn_container {
  max-width: 56.25rem;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
  align-items: center;
}

.search_btn_container input {
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.096);
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 80%;
  outline: none;
  padding-left: 20px;
  margin-bottom: 5vh;
  font-size: 18px;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
}
input::placeholder {
  font-size: 18px;
}
button {
  height: 35px;
  border: none;
  border-radius: 5px;
  margin-left: -30px;
  outline: none;
  background-color: Transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
}

.fa-cloud {
  font-size: 80px;
  color: #e8e8e8;
}

.fa-tint {
  font-size: 80px;
  color: #189bf1;
}

hr {
  border: 1px solid gray;
  margin-bottom: 25px;
}

.signup_container {
  font-family: "montserrat";
  color: rgb(27, 27, 27);
  padding: 16px;
}

.form_container {
  display: flex;
  flex-direction: column;
}

.form_container label {
  font-weight: bold;
  margin-bottom: 10px;
}
.form_container input {
  margin: 10px 0 10px 0;
}

.form_container input[type="text"],
input[type="password"] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.form_container input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.form_container button {
  align-self: flex-end;
  background: #2975cd;
  width: 100%;
  color: white;
  font-weight: bold;
}

.reg-card {
  background: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.096);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-content {
  padding: 30px;
  font-size: 18px;
  font-family: "Montserrat";
}

.card-content-active {
  height: 100%;
  width: 100%;
  color: #707070;
  overflow-y: scroll;
  border-radius: 5px;
}

.historial {
  height: 900px;
  border-collapse: collapse;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  min-width: 32.5rem;
  font-family: "Montserrat", sans-serif, monospace;
  
  font-size: 0.9em;
}

.historial th {
  /* background: #E8E8E8; */
  /*  color: black; */
  font-weight: bold;
  padding: 15px;
  /* background-color: #2975CD; */
  background-color: rgba(41, 117, 205, 0.999);
  color: #ffffff;
  position: sticky;
  top: 0;
}

.historial td {
  padding: 15px;
}

tbody tr {
  text-align: center;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background: #f7f7f7;
  color: #2975cd;
}

tbody tr:hover {
  background: #ebebeb;
}
