{%extends './base.html'%}

{% block content%}
<main class="about-container">

    <section class="about-description">

        <h1>No dejes que el clima te sorprenda.</h1>
        <p>Meteorologio te permite consultar el clima en todo lugar y llevar un registro de tus consultas.</p>
        <a href="/">¡Empieza ya!</a>

    </section>

    <div class="imagen">
        <figure>

            <img src="{{ url_for('static', filename='aboutimg.svg') }}" alt="main-img">
        </figure>
        
    </div>

</main>
{%endblock%}