<!DOCTYPE html>
<html lang="es" class="notranslate">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Consulta del clima">
    <title>Meteorologio</title>
    <link rel="icon" type="image/png"
        href="https://icons.iconarchive.com/icons/papirus-team/papirus-apps/32/weather-icon.png" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://use.fontawesome.com/981bebb1da.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Slab:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body style="background-color: #F7F7F7;color: white;margin: 0;height: 100%;">

    <header class="main-wrap">
        <div class="logo-mini" >
            <a href="/">
                <i style="font-size: 1.875rem;" class="fa fa-cloud" aria-hidden="true"></i>
            </a>
        </div>
        <div class="logo">
            <a href="/" >
                <i style="font-size: 1.875rem;" class="fa fa-cloud" aria-hidden="true"></i>
                Meteorologio</a>
            <span>Tu clima en todo lugar</span>
        </div>

        {% if not current_user.is_authenticated%}
        <div class="header-options">
            <ul>
                <li>
                    <a title="¿Qué es Meteorologio?" href="/about" style="text-decoration: none;color: white;font-size: 20px;"><i class="fa fa-question-circle" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="/login" style="text-decoration: none;color: white;">Iniciar sesión</a>
                </li>
                <li>
                    <a href="/signup" style="text-decoration: none;color: white;">Regístrate</a>
                </li>
            </ul>
        </div>
        {%else%}
        <div class="header-options">
            <ul>
                <li>
                    <span style="text-decoration: none;color: white;">{{current_user.username}}</span>
                </li>
                <li>
                    <a href="/logout" style="text-decoration: none;color: white;">Cerrar sesión</a>
                </li>
            </ul>
        </div>
        {%endif%}

    </header>


    {% block content %}
    {% endblock %}


   
    <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }
        </script>

</body>

</html>